.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  ul{
    display: flex;
    justify-content: center;
    background-color: rgb(60, 218, 112);
    border-radius: 30px 30px;

}

li{
    padding: 2%;
    list-style-type: none;
    text-decoration: none;
    
}

