.nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ul{
    display: flex;
    justify-content: center;
    background-color: rgb(43, 212, 99);
    border-radius: 30px 30px;

}

li{
    padding: 2%;
    list-style-type: none;
    text-decoration: none;
    
}

